form {
    width: 500px;
    height: 300px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
}

button{
    color: black;
}